<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<body>
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" style="color:white">University Administration Service</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" style="margin-right:5px;" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right:15px;" type="submit">Search</button>
        <button class="btn btn-success my-2 my-sm-0">Login</button>
    </form>
</nav>

<div class="container d-flex justify-content-center" style="margin-top:10px;">
    <div class = "row col-md-7 table-responsive">
        <table class="table table-striped table-hover table-sm">
            <thead class="thead">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col"> Degree Major</th>
                <th scope="col">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                        Add User
                    </button>
                </th>
            </tr>
            </thead>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <form action="#" th:action="@{'/users'}" th:object="${user}" th:method="POST">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Insert a new user</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="d-flex flex-column">
                                    <label class="col-md-4 control-label" for="name">Name</label>
                                    <div class="p-2">
                                        <input id="name" name="name"
                                               type="text" placeholder="Name"
                                               class="form-control input-md"
                                               autocomplete="off">
                                    </div>

                                    <label class="col-md-4 control-label" for="name">Last Name</label>
                                    <div class="p-2">
                                        <input id="lastName" name="lastName"
                                               type="text" placeholder="Last Name"
                                               class="form-control input-md"
                                               autocomplete="off" >
                                    </div>

                                    <label class="col-md-4 control-label" for="name">Degree</label>
                                    <div class="p-2">
                                        <input id="degreeMajor" name="degreeMajor"
                                               type="text" placeholder="Degree"
                                               class="form-control input-md"
                                               autocomplete="off">
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <tbody>
            <tr>
                <td th:text="${users.id}">
                </td>
                <td scope="row" th:text="${users.name}"></td>
                <td scope="row" th:text="${users.lastName}"></td>
                <td scope="row" th:text="${users.degreeMajor}"></td>
                <td>

                    <form action="users/{id}" th:action="@{'/users/{id}'(id=${users.id})}" th:method="post" >
                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
                            <input type="hidden" name="_method" value="PUT" />
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="d-flex flex-column">
                                            <label class="col-md-4 control-label" for="name">Name</label>
                                            <div class="p-2">
                                                <input id="editName" name="name"
                                                       type="text" placeholder="Name"
                                                       class="form-control input-md"
                                                       autocomplete="off">
                                            </div>

                                            <label class="col-md-4 control-label" for="name">Last Name</label>
                                            <div class="p-2">
                                                <input id="editLastName" name="lastName"
                                                       type="text" placeholder="Last Name"
                                                       class="form-control input-md"
                                                       autocomplete="off" >
                                            </div>

                                            <label class="col-md-4 control-label" for="name">Degree</label>
                                            <div class="p-2">
                                                <input id="editDegreeMajor" name="degreeMajor"
                                                       type="text" placeholder="Degree"
                                                       class="form-control input-md"
                                                       autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col">
                            <button type="button" id="editButton" class="btn btn-primary" value="${users.id}" data-toggle="modal" data-target="#editModal" >Edit</button>
                        </div>
                        <div class="col">
                            <form action="#" th:action="@{'/users/{id}'(id=${users.id})}" th:method="delete" >
                                <input type="hidden" name="_method" value="DELETE" />
                                <button type="submit" class="btn btn-danger" id="deleteButton">Delete</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>